<h4>Bilet "TYP BILETU"</h4>
<div class="d-flex flex-row">
    <div class="d-flex flex-column col-5">
        <p class="card-text">Kod: </p>
        <p class="card-text">Data zakupu: </p>
    </div>
    <div class="d-flex flex-column">
        <!--dla jednorazowego-->
        <p class="card-text">Data skasowania: </p>
        <p class="card-text">Nr pojazdu: </p>
        <!--dla czasowego-->
        <p class="card-text">Data skasowania: </p>
        <p class="card-text">Data wygaśnięcia: </p>
        <!--dla okresowego-->
        <p class="card-text">Data rozpoczęcia: </p>
        <p class="card-text">Data wygaśnięcia: </p>
    </div>
</div>